APP_NAME=BetelMarket
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=betelmarket
DB_USERNAME=postgres
DB_PASSWORD=secret

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

QUEUE_CONNECTION=redis

# HestiaCP Configuration
HESTIA_HOST=127.0.0.1
HESTIA_PORT=8083
HESTIA_ADMIN_USER=admin
HESTIA_ADMIN_PASSWORD=
HESTIA_USE_API=true

SANCTUM_STATEFUL_DOMAINS=localhost:3000
SESSION_DOMAIN=localhost
